#about {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 5%;
}

.about__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about__blocks {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about__block {
    display: flex;
    gap: 20px;

}

.about__icon {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
}

.about__icon img {
    height: 23.5px;
    z-index: 2;
    margin-left: 10px;
    margin-top: -2px;
}